<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Главная</a>
            <a href="/portfolio">Портфолио</a>
        </nav>
    </header>
    <main>
        <h1>Произошла ошибка</h1>
        <p><%= message %></p>
    </main>
    <footer>
        <p>&copy; 2024. Zhamanbai Akbota BDA-2303.</p>
    </footer>
</body>
</html>
