<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <main>
        <h1>Registration</h1>
        <form action="/auth/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" placeholder="Enter your age">

            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>

            <div>
                <input type="checkbox" id="agreement" required>
                <label for="agreement">I agree to the processing of personal data</label>
            </div>

            <button type="submit">Register</button>
        </form>
        <footer>
            <p>&copy; 2024. Zhamanbai Akbota BDA-2303.</p>
        </footer>
    </main>
</body>
</html>
